apiVersion: v1
kind: Service
metadata:
  name: ba-payment-processor-secure-pay
  namespace: default
spec:
  type: ClusterIP
  ports:
  - name: grpc
    port: 7777
    targetPort: 7777
    protocol: TCP
  selector:
    app: ba-payment-processor-secure-pay
